	* {
	padding:0;
	margin:0;
	font-family: 'times new roman';
	color: #333;
}
	header {
			background-color: #333;
			padding: 20px;
			color: #fff;
			text-align: center;
		}
		
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.logo {
			color: #fff;
			font-size: 24px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		ul li {
			margin-left: 10px;
		}

		ul li a {
			display: inline-block;
			padding: 10px 20px;
			border-radius: 20px;
			background-color: #fff;
			color: #333;
			text-decoration: none;
			font-weight: bold;
			transition: background-color 0.3s ease;
		}

		ul li a:hover {
			background-color: #ddd;
		}
		
		/* Ganti tampilan main sesuai kebutuhan Anda */
		main {
			display: flex;
		}
		
		/* Ganti tampilan sidebar kiri sesuai kebutuhan Anda */
		.sidebar-left {
			width: 200px;
			height: 500px;
			background-color: #f1f1f1;
			padding: 20px;
		}
		.img{
			width: 100px;
			border-radius: 10px;
			box-shadow: 0 3px 5px #ddd;
			margin-bottom: 10px;
		}
		/* Ganti tampilan konten sesuai kebutuhan Anda */
		.content {
			flex: 1;
			padding: 20px;
		}
		
		/* Ganti tampilan sidebar kanan sesuai kebutuhan Anda */
		.sidebar-right {
			width: 200px;
			background-color: #f1f1f1;
			padding: 20px;
			font-size: 12px;
		}
		
		/* Ganti tampilan footer sesuai kebutuhan Anda */
		footer {
	background-color: #333;
	padding:50px;
	text-align: center;
}
footer small {
	color: #fff;
}